[user]
	name = xugang
	email = xugang@bsatinfo.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ci = commit -a -v
	co = checkout
	st = status
	br = branch
	throw = reset --hard HEAD
	throwh = reset --hard HEAD^
